/*
* This file is part of Wakanda software, licensed by 4D under
*  (i) the GNU General Public License version 3 (GNU GPL v3), or
*  (ii) the Affero General Public License version 3 (AGPL v3) or
*  (iii) a commercial license.
* This file remains the exclusive property of 4D and/or its licensors
* and is protected by national and international legislations.
* In any event, Licensee's compliance with the terms and conditions
* of the applicable license constitutes a prerequisite to any use of this file.
* Except as otherwise expressly stated in the applicable license,
* such license does not include any other license or rights on this file,
* 4D's and/or its licensors' trademarks and/or other proprietary rights.
* Consequently, no title, copyright or other proprietary rights
* other than those specified in the applicable license is granted.
*/
/** 
 * Widget color palette
 *
 * @style Grey
 *
 * @colordef rgb(204, 204, 204);
 * @colordef rgb(238, 238, 238);
 * @colordef rgb(128, 128, 128);
 * @colordef rgb(85, 85, 85);
 *
 */


/**
 * -------------------------------------------------------
 * @section Main
 * -------------------------------------------------------
 */
.waf-widget,
.waf-widget a {
	color: hsla(0, 0%, 0%, 0.7);/*rgba(0, 0, 0, 0.7);*/
}




/**
 * -------------------------------------------------------
 * @section Widget subElements
 * -------------------------------------------------------
 */
/**
 * -----------------------------------
 * @subsection Widget header
 * -----------------------------------
 */
.waf-widget-header,
.waf-widget.waf-container.waf-widget-header {
    text-shadow: hsl(0, 0%, 100%) 0 1px 1px;/*rgb(255, 255, 255);*/
}

/**
 * -----------------------------------
 * @subsection Widget alternate content
 * -----------------------------------
 */
.waf-widget-even {
	background-color: hsla(0, 0%, 0%, 0.07);/*rgba(0, 0, 0, 0.07);*/
}


/**
 * -------------------------------------------------------
 * @section button
 * -------------------------------------------------------
 */
.waf-widget.waf-button {
	background-color: hsl(0, 0%, 80%);/*rgb(204, 204, 204);*/
    text-shadow: hsl(0, 0%, 100%) 0 1px 1px;/*rgb(255, 255, 255);*/
}





/**
 * -------------------------------------------------------
 * @section checkbox
 * -------------------------------------------------------
 */
 
/**
 * -----------------------------------
 * @subection checkbox state
 * -----------------------------------
 */
.waf-checkbox.waf-state-hover,
.waf-checkbox.waf-state-active,
.waf-checkbox.waf-state-selected {
	background-color: transparent;
}

/**
 * -----------------------------------
 * @subection checkbox box
 * -----------------------------------
 */
.waf-checkbox .waf-checkbox-box {
	background-color: hsl(0, 0%, 90%);/*rgb(230, 230, 230);*/
	border-color: hsl(0, 0%, 45%);/*rgb(115, 115, 115);*/
}

/**
 * -----------------------------------
 * @subection checkbox icon symbol
 * -----------------------------------
 */
.waf-checkbox .waf-checkbox-icon-symbol {
	fill: hsl(0, 0%, 0%);/*rgb(0, 0, 0);*/
}
.waf-checkbox .waf-checkbox-icon-symbol-shadow {
	fill: hsl(0, 0%, 100%);/*rgb(115, 115, 115);*/
}


/**
 * -------------------------------------------------------
 * @section radio
 * -------------------------------------------------------
 */
/**
 * -----------------------------------
 * @subection radio box state
 * -----------------------------------
 */
.waf-radio.waf-state-hover,
.waf-radio.waf-state-active,
.waf-radio.waf-state-selected {
	background-color: transparent;
}



/**
 * -------------------------------------------------------
 * @section combobox
 * -------------------------------------------------------
 */
.waf-widget.waf-combobox {
	background-color: hsl(0, 0%, 70%);/*rgb(179, 179, 179);*/
	border-color: hsl(0, 0%, 44%);/*rgb(112, 112, 112);*/
	color: hsl(0, 0%, 100%);/*rgb(255, 255, 255);*/
}

/**
 * -----------------------------------
 * @subsection combobox state
 * -----------------------------------
 */
.waf-combobox.waf-state-hover {
	background-color: hsl(0, 0%, 50%);/*rgb(128, 128, 128);*/
	color: hsl(0, 0%, 100%);/*rgb(255, 255, 255);*/
}

.waf-combobox.waf-state-active {
	background-color: hsl(0, 0%, 60%);
}

/**
 * -----------------------------------
 * @subsection combobox input
 * -----------------------------------
 */
.waf-combobox input {
	text-shadow: hsla(0, 0%, 0%, 0.5) 1px 1px;
}


/**
 * -----------------------------------
 * @subsection combobox button
 * -----------------------------------
 */
.waf-combobox button {
	background: transparent;
}

/**
 * -----------------------------------
 * @subsection combobox ui-menu-item
 * -----------------------------------
 */
.waf-combobox-list .ui-menu-item a {
	border-color: transparent;
}

/**
 * -------------------------------------------------------
 * @section menuBar
 * -------------------------------------------------------
 */
.waf-widget.waf-menuBar {
	background-color: hsl(0, 0%, 80%);/*rgb(204, 204, 204);*/
	border-color: hsla(0, 0%, 0%, 0.2);/*rgba(0, 0, 0, 0.2);*/
}


/**
 * -------------------------------------------------------
 * @section menuItem
 * -------------------------------------------------------
 */
.waf-menuItem {
	border-color: hsl(0, 0%, 93%);/*rgb(255, 255, 255);*/
}
.waf-menuItem-level-0 {
	background-color: hsl(0, 0%, 80%);/*rgb(204, 204, 204);*/
    border-left-color: hsl(0, 0%, 93%);/*rgb(238, 238, 238);*/
    border-right-color: hsl(0, 0%, 80%);/*rgb(204, 204, 204);*/
}


/**
 * -------------------------------------------------------
 * @section container
 * -------------------------------------------------------
 */
.waf-widget.waf-container {
	background-color: hsl(0, 0%, 90%);
	border-color: hsl(0, 0%, 44%);
}

/**
 * -------------------------------------------------------
 * @section dialog
 * -------------------------------------------------------
 */
.waf-widget.waf-container.waf-dialog {
	background-color: hsl(0, 0%, 100%);
}

/**
 * -----------------------------------
 * @subection dialog header
 * -----------------------------------
 */
.waf-widget.waf-dialog .waf-dialog-header {
	background-color: hsl(0, 0%, 100%);
}

/**
 * -----------------------------------
 * @subsubsection dialog header title
 * -----------------------------------
 */
.waf-dialog-header-title {
	color: inherit;
}

/**
 * -------------------------------------------------------
 * @section tabView
 * -------------------------------------------------------
 */
/**
 * -----------------------------------
 * @subsection tabView menuBar 
 * -----------------------------------
 */
.waf-widget.waf-tabView .waf-menuBar {
	background-color: transparent;
}

/**
 * -----------------------------------
 * @subsection tabView menuItem 
 * -----------------------------------
 */
.waf-tabView .waf-menuItem {
    border-color: hsl(0, 0%, 44%);/*rgb(112, 112, 112);*/
}

/**
 * -----------------------------------
 * @subsubsection tabView menuItem state
 * -----------------------------------
 */
.waf-tabView .waf-menuItem.waf-state-selected {
	background-color: hsl(0, 0%, 90%);/*rgb(230, 230, 230);*/
}

/**
 * -----------------------------------
 * @subsection dialog body
 * -----------------------------------
 */
.waf-widget.waf-dialog .waf-dialog-body {
	background-color: hsl(0, 0%, 100%);
}

/**
 * -----------------------------------
 * @subection dialog footer
 * -----------------------------------
 */
.waf-widget.waf-dialog .waf-dialog-footer {
	background-color: hsl(0, 0%, 100%);
}


/**
 * -------------------------------------------------------
 * @section login
 * -------------------------------------------------------
 */
.waf-widget.waf-login {
	background-color: hsl(0, 0%, 90%);
	border-color: hsl(0, 0%, 44%);
}


/**
 * -------------------------------------------------------
 * @section autoForm
 * -------------------------------------------------------
 */
.waf-widget.waf-autoForm {
	background-color: hsl(0, 0%, 100%);/*rgb(255, 255, 255);*/
	
	/**
	 * @affected webkit win
	 * @note WARNING !!!
	 * Dont use rgba color for the container border:
	 * this make webkit apply a global opacity on the widget
	 *
	 * ex: border-color: rgba(0, 0, 0, 0.3);
	 */
	border-color: hsl(0, 0%, 27%);/*rgb(70, 70, 70);*/
}

/**
 * -----------------------------------
 * @subsection autoForm header
 * -----------------------------------
 */
.waf-autoForm-header th {
	border-bottom-color: hsla(0, 0%, 0%, 0.3);/*rgba(0, 0, 0, 0.3);*/
}

/**
 * -----------------------------------
 * @subsection autoForm body
 * -----------------------------------
 */
/* track */
.waf-widget-body::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 0%, 0.17);/*rgba(0, 0, 0, 0.17);*/
}
/* thumb */
.waf-widget-body::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0.3);/*rgba(0, 0, 0, 0.3);*/
}

/**
 * -----------------------------------
 * @subsection autoForm col
 * -----------------------------------
 */
.waf-autoForm .attribute-col {
	border-right-color: hsla(0, 0%, 0%, 0.17);/*rgba(0, 0, 0, 0.17);*/
}

/**
 * -----------------------------------
 * @subsection autoForm footer
 * -----------------------------------
 */
.waf-autoForm-footer td {
	border-top-color: hsla(0, 0%, 0%, 0.2);/*rgba(0, 0, 0, 0.2);*/
}



/**
 * -------------------------------------------------------
 * @section dataGrid
 * -------------------------------------------------------
 */
.waf-widget.waf-dataGrid {
	background-color: hsl(0, 0%, 100%);/*rgb(255, 255, 255);*/
	
	/**
	 * @affected webkit win
	 * @note WARNING !!!
	 * Dont use rgba color for the container border:
	 * this make webkit apply a global opacity on the widget
	 *
	 * ex: border: 1px solid rgba(0, 0, 0, 0.3);
	 */
	border-color: hsl(0, 0%, 44%);/*rgb(112, 112, 112);*/
}

/**
 * -----------------------------------
 * @subsection dataGrid header
 * -----------------------------------
 */
.waf-dataGrid-header {
	border-color: hsla(0, 0%, 0%, 0.3);/*rgba(0, 0, 0, 0.3);*/
}

/**
 * -----------------------------------
 * @subsection dataGrid body
 * -----------------------------------
 */
/* track */
.waf-dataGrid-body::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 0%, 0.17);/*rgba(0, 0, 0, 0.17);*/
}
/* thumb */
.waf-dataGrid-body::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0.3);/*rgba(0, 0, 0, 0.3);*/
}


/**
 * -------------------------------------------------------
 * @subsection dataGrid row
 * -------------------------------------------------------
 */
.waf-dataGrid-row {
	border-color: hsla(0, 0%, 0%, 0.1);
}
/* states */
.waf-dataGrid-row.waf-state-hover {
	background-color: hsla(0, 0%, 0%, 0.1);/*rgba(0, 0, 0, 0.1);*/
}
.waf-dataGrid-row.waf-state-active {
	background-color: hsla(0, 0%, 0%, 0.2);/*rgba(0, 0, 0, 0.2);*/
}


/**
 * -------------------------------------------------------
 * @subsection dataGrid cell
 * -------------------------------------------------------
 */
.waf-dataGrid-cell {
	border-left-color: hsla(0, 0%, 0%, 0.17);/*rgba(0, 0, 0, 0.17);*/
}


/**
 * -------------------------------------------------------
 * @subsection dataGrid footer
 * -------------------------------------------------------
 */
.waf-dataGrid-footer {
	border-top-color: hsla(0, 0%, 0%, 0.17);/*rgba(0, 0, 0, 0.17);*/
}



/**
 * -------------------------------------------------------
 * @section progressBar
 * -------------------------------------------------------
 */
.waf-widget.waf-progressBar {
	background-color: hsl(0, 0%, 50%);/*rgb(128, 128, 128);*/
	border-color: hsl(0, 0%, 44%);/*rgb(112, 112, 112);*/
	color: hsl(0, 0%, 100%);/*rgb(255, 255, 255);*/
}

.waf-progressBar-range {
	background-color: hsl(0, 0%, 33%);/*rgb(85, 85, 85);*/
	border-color: hsl(0, 0%, 44%);/*rgb(112, 112, 112);*/
}


/**
 * -------------------------------------------------------
 * @section slider
 * -------------------------------------------------------
 */
.waf-widget.waf-slider {
	background-color: hsl(0, 0%, 90%);/*rgb(229, 229, 229);*/
}

/**
 * -----------------------------------
 * @subsection slider horizontal
 * -----------------------------------
 */
.waf-slider.ui-slider-horizontal {
	border-top-color: hsl(0, 0%, 63%);/*rgb(161, 161, 161);*/
	border-right-color: hsl(0, 0%, 74%);/*rgb(161, 161, 161);*/
	border-bottom-color: hsl(0, 0%, 90%);/*rgb(229, 229, 229);*/
	border-left-color: hsl(0, 0%, 63%);/*rgb(189, 189, 189);*/
}

/**
 * -----------------------------------
 * @subsection slider vertical
 * -----------------------------------
 */
.waf-slider.ui-slider-vertical {
	border-top-color: hsl(0, 0%, 63%);/*rgb(161, 161, 161);*/
	border-right-color: hsl(0, 0%, 90%);/*rgb(229, 229, 229);*/
	border-bottom-color: hsl(0, 0%, 74%);/*rgb(189, 189, 189);*/
	border-left-color: hsl(0, 0%, 63%);/*rgb(161, 161, 161);*/
}

/**
 * -----------------------------------
 * @subsection ui-slider-range
 * -----------------------------------
 */
.waf-slider .ui-slider-range {
	background-color: hsl(0, 0%, 33%);/*rgb(85, 85, 85);*/
}

/**
 * -----------------------------------
 * @subsection ui-slider-handle
 * -----------------------------------
 */
.waf-slider .ui-slider-handle {
	background-color: hsl(0, 0%, 0%);/*rgb(0, 0, 0);*/
	border-color: hsl(0, 0%, 33%);/*rgb(0, 0, 0);*/
}


/**
 * -------------------------------------------------------
 * @section textField
 * -------------------------------------------------------
 */
.waf-widget.waf-textField {
	background-color: hsl(0, 0%, 93%);/*rgb(238, 238, 238);*/
	border-color: hsl(0, 0%, 80%);/*rgb(204, 204, 204);*/
}


/**
 * -------------------------------------------------------
 * @section select
 * @note 	duplication of cupertino palette
 * @todo	code a dedicated palette
 * -------------------------------------------------------
 */
.waf-widget.waf-select {
	background-color: rgb(208, 208, 208);
	border-color: rgb(76, 76, 76);
}

/**
 * -----------------------------------
 * @subsection select state
 * -----------------------------------
 */
.waf-widget.waf-select.waf-state-active {
	border-color: rgb(17, 46, 135);
}

/**
 * -----------------------------------
 * @subection select label
 * -----------------------------------
 */
.waf-widget.waf-select .waf-select-label {
	border-color: rgba(0, 0, 0, 0.57);
}

/**
 * -----------------------------------
 * @subsubection select label state
 * -----------------------------------
 */
.waf-widget.waf-select.waf-state-active .waf-select-label {
	border-color: rgb(17, 46, 135);
}

/**
 * -----------------------------------
 * @subection select button
 * -----------------------------------
 */
.waf-widget.waf-select .waf-select-button {
	background-color: rgb(0, 0, 0);
}

/**
 * -----------------------------------
 * @subsubection select button states
 * -----------------------------------
 */
.waf-widget.waf-select.waf-state-active .waf-select-button {
	background-color: rgb(17, 46, 135);
}

/**
 * -----------------------------------
 * @subection select icon symbol
 * -----------------------------------
 */
.waf-widget.waf-select .waf-select-icon-symbol {
	fill: rgb(255, 255, 255);
}
.waf-widget.waf-select .waf-select-icon-symbol-shadow {
	opacity: 0.75;
}


/**
 * -------------------------------------------------------
 * @section Widget state
 * -------------------------------------------------------
 */
.waf-state-hover {
	background-color: hsl(0, 0%, 77%);/*rgb(196, 196, 196);*/
}

.waf-state-active,
.waf-state-selected {
	background-color: hsl(0, 0%, 75%);/*rgb(192, 192, 192);*/
}


/**
 * -------------------------------------------------------
 * @section icon
 * -------------------------------------------------------
 */
.waf-icon path {
	fill: hsl(0, 0%, 37%);/*rgb(94, 94, 94);*/
}
.waf-widget-header .waf-icon path {
	fill: hsl(0, 0%, 50%);/*rgb(128, 128, 128);*/
}

/**
 * -----------------------------------
 * @subsection icon state
 * -----------------------------------
 */
/* hover */
.waf-icon.waf-state-hover {
	background-color: transparent;
}
.waf-icon.waf-state-hover path {
	background-color: transparent;
	opacity: 1;
}

/**
 * -------------------------------------------------------
 * @section Accordion
 * -------------------------------------------------------
 */
/**
 * -----------------------------------
 * @subsection Accordion header 
 * -----------------------------------
 */
 
 .waf-widget.waf-accordion .waf-container{

 }
 
.waf-widget.waf-accordion .waf-container.accordion-header{
	background-color: #CCC;
}

.waf-widget.waf-accordion .waf-container.accordion-header .waf-richText{

	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.waf-widget.waf-accordion .waf-container.accordion-section.accordion-expanded .accordion-header .waf-richText{
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.7);
}

.waf-widget.waf-accordion .waf-container.accordion-section.accordion-expanded .accordion-header{
	background-color:#e6e6e6;
	box-shadow: inset 0 -1px 1px white,
				inset 0 0 6px rgba(0, 0, 0, 0.2);	
}